<ion-header>
	<ion-toolbar>
		<ion-title>Editar</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">Nome:</ion-label>
		<ion-input type="text" [(ngModel)]="name"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label position="floating">Descrição:</ion-label>
		<ion-input type="text" [(ngModel)]="description"></ion-input>
	</ion-item>

	<ion-item class="photo">
		<ion-button type="button" color="primary" (click)="addPhoto()" fill="clear">Adicionar Foto</ion-button>
		<input type="file" #hiddenFileInput />
	</ion-item>

	<ion-item class="ion-text-center">
		<ion-row>
			<ion-col size="6">
				<ion-label>Nome:</ion-label>
			</ion-col>
			<ion-col size="6">
				<ion-label>Valor:</ion-label>
			</ion-col>
		</ion-row>
	</ion-item>

	<div class="properties" *ngFor="let property of properties; let i = index">
		<ion-item-sliding side="end">
			<ion-item [ngClass]="isOdd(i) ? 'itemProperties odd' : 'itemProperties'">
				<ion-row>
					<ion-col size="6">
						<ion-input type="text" [(ngModel)]="property.name" (ionChange)="checkNamesOfProperties(property.name)"></ion-input>
					</ion-col>
					<ion-col size="6">
						<ion-input type="text" [(ngModel)]="property.value"></ion-input>
					</ion-col>
				</ion-row>
			</ion-item>
			<ion-item-options side="end">
				<ion-item-option color="danger" expandable (click)="deleteProperty(i)">
					<ion-icon name="trash-outline"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</div>

	<ion-item>
		<ion-button type="button" color="primary" (click)="addProperties()" fill="clear">
			+Adicionar mais propriedades
		</ion-button>
	</ion-item>

	<ion-item *ngIf="addImages.length > 0">
		<ion-row>

			<ion-col size="4" *ngFor="let image of addImages">
				<div class="badge">
					<ion-icon name="trash-outline" (click)="removeImage(image)"></ion-icon>
				</div>
				<ion-img class="img" [src]="image" (click)="showImage(image)"></ion-img>
			</ion-col>

		</ion-row>
	</ion-item>

	<ion-item *ngIf="isGps !== true">
		<ion-label position="stacked">Selecione a cor do seu ponto:</ion-label>
		<ion-input [(colorPicker)]="color" [style.background]="color" [readonly]="true" class="color" (click)="verifyLastColors()" [cpPosition]="'top'"></ion-input>
	</ion-item>
	
	<ion-row *ngIf="lastColors.length > 0 && isGps !== true">
		<ion-col size="12">
			<ion-label position="stacked">Últimas cores selecionadas</ion-label>
		</ion-col>
		<ion-col size="2" *ngFor="let color of lastColors">
			<div class="lastColors" [style.backgroundColor]="color.color" (click)="checkSelectColor(color.color)" [ngClass]="(color.select === 'true') ? 'selected' : '' "></div>
		</ion-col>
	</ion-row>

	<ion-radio-group value="{{userSelect}}" [(ngModel)]="userSelect" *ngIf="isGps !== true">
		<ion-row>
			<ion-col size="6" class="ion-text-center">
				<ion-row>
					<ion-col size="6">
						<ion-radio color="primary" value="img"></ion-radio>
					</ion-col>
					<ion-col size="6">
						<ion-img class="greenPushpin" src="./assets/map-icons/grn-pushpin.png"></ion-img>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col size="6" class="ion-text-center">
				<ion-row>
					<ion-col size="6">
						<ion-radio color="primary" value="point"></ion-radio>
					</ion-col>
					<ion-col size="6">
						<div class="point"></div>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-radio-group>
</ion-content>

<ion-footer>
	<ion-row>

		<ion-col size="4" class="ion-text-center">
			<ion-button color="primary" (click)="saveFeature()" [disabled]="buttonStatus">Salvar</ion-button>
		</ion-col>
		<ion-col size="4" class="ion-text-center">
			<ion-button color="danger" (click)="closeModal(featureId)">Cancelar</ion-button>
		</ion-col>
		<ion-col size="4" class="ion-text-center">
			<ion-button color="danger" (click)="deleteFeature()">Deletar</ion-button>
		</ion-col>

	</ion-row>
</ion-footer>